     <div class="col-md-12">
            <div class="row">
                 <% @trips.each do |trip| %>
                    <div class="col-md-3 mb-2">
                        <div class="card mb-2">
                            <div class="card-header">
                                 <%= trip.start_date.strftime('%v')%>                
                            </div>
                            <%= link_to room_path(trip.room) do %>
                                <%= image_tag trip.room.images[0], class: "img-fluid" %>
                            <% end %>
                            <div class="card-body">
                                <div class="card-title">
                                    <%= link_to user_path(trip.room.user) do %>
                                <%= image_tag current_user.default_avatar, class: "img-circle avatar-large"%>
                            <% end %>
                                </div>
                              <h4>$<%= trip.total %></h4>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

 
               
   