<div class="jumbotron shadow mt-4">
   
    
        <div class="container">
         <div class="h2 text-center mb-4">
            Create Work Space
        </div>
        <%= form_with(model: @room, local: true, multi: true, data: { controller: :maps, action: "google-maps-callback@window->maps#initializeMap"}) do |f| %>
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Space Name</label>
                        <%= f.text_field :listing_name, placeholder: "Name your space creatively", class: "form-control"%>
                    </div>
                    <div class="form-group col-md-8">
                        <label>Note and Message</label>
                        <%= f.text_area :summary, placeholder: "Details about your work space", class: "form-control"%>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Space Type</label>
                            <%= f.select :space_type, options_for_select([["Apartment", "Apartment"], ["House", "House"], ["Office", "Office" ]],  selected: @room.space_type || nil), include_blank: true, class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Desk Type</label>
                            <%= f.select :desk_type, [["Single Desk", "Single Desk"], ["Private Room Office", "Private Room Office"], ["Sharing Table", "Sharing Table" ]], id: :desk_type, prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Capacity</label>
                            <%= f.text_field :capacity, id: :capacity, prompt: 'How many desks to share?', class: "form-control" %>
                        </div>
                    </div>                 
                </div>
                  <div class="form-row">
                    <div class="col-md-3 select">
                        <div class="form-group">
                            <label>Noise Level</label>
                            <%= f.select :noise_level, [["Silent Mode", "Silent Mode"], ["Quiet", "Quiet"], ["Casual", "Casual" ]], id: :noise_level, prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-3 select">
                        <div class="form-group">
                            <label>Bathrooms</label>
                            <%= f.select :bath_room, [["1", 1], ["2", 2], ["3+", 3]], prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-3 select">
                        <div class="form-group">
                            <label>Manager on Premise</label>
                            <%= f.select :manager_on, [["Fulltime", "Fulltime"], ["Parttime", "Parttime"], ["No Stay", "No Stay"]], prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>
                     <div class="col-md-3 select">
                        <div class="form-group">
                            <label>Security</label>
                            <%= f.select :security_level, [["high", "high"], ["good", "good"], ["maximum", "maximum"]], prompt: 'Select...', class: "form-control" %>
                        </div>
                    </div>  
                  
                </div>
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label class="text-white">Addrress</label>
                                <%= f.search_field :address, placeholder: "address", class: "form-control", data: { target: "maps.field", action: "keydown->maps#preventSubmit" } %>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-white">Location</label>
                                <%= f.text_field :latitude, placeholder: "Latitude", class: "form-control mb-2", data: { target: "maps.latitude" }%>
                                <%= f.text_field :longitude, placeholder: "Longitude", class: "form-control", data: { target: "maps.longitude" }%>
                            </div>
                        
                        </div>
                        <%= content_tag :div, nil, data: { target: "maps.map" }, class: 'map' %>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-row ">
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-wifi"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_wifi, class: "align-middle" %>
                                        wifi
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-sink"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_kitchen %> Kitchen
                                    </div>         
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                <i class="fas fa-headset"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_conference %> Conference Call Space
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-print"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_printing %> Printing
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-wine-glass-alt"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_drinks %> Free Drinks
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-fire"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_heating %> Heating
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-fan"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_air %> Air-Conditioning
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 d-flex">
                                    <i class="fas fa-parking"></i>
                                    <div class="form-group">
                                        <%= f.check_box :is_parking %> Parking
                                    </div>
                                </div> 
                            </div>
                        </div>                  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group d-flex mt-3">
                        <div class="mt-2"><p>Price($)</p></div>
                            <div class="input-group pl-2">
                                <%= f.text_field :price, placeholder: "Enter dollar amount in number", class: "form-control pl-3" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 p-2 m-2">
                        <div class="form-group">
                                <Label>Upload Space Photos</Label>
                            <div class="card bg-primary p-4 d-flex">
                                <i class="far fa-images fa-2x"></i>
                                <%= f.file_field :images, multiple: true %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="photos"> <%= render 'shared/images'  %> </div>
                <div class="card">
                    <div class="col-md-6 p-2 m-2">
                        <div class="form-group">
                            <label for="">Check if you want this space to be availabe for public to make a reservation right away</label>
                            <%= f.check_box :active %> Active
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="actions m-3">
                <%= f.submit "List Your Space", class: "btn btn-primary btn-lg p-4"%>
            </div>
        <% end %>
        </div>
    </div>
</div>